.wrap
  width: 320px
#dd
  border: 1px solid #ccc
  border-radius: 12px
  height: 30px
  cursor: pointer
  text-align: center
  &.hover
    background-color: #79fa7f

#img
  margin: 0 8px
  img
    margin-top: 5px
    margin-right: 5px
    width: 96px
    height: auto
    border-radius: 4px
    vertical-align: bottom
