.wrap {
  width: 320px; }

#dd {
  border: 1px solid #cccccc;
  border-radius: 12px;
  height: 30px;
  cursor: pointer;
  text-align: center; }
  #dd.hover {
    background-color: #79fa7f; }

#img {
  margin: 0 8px; }
  #img img {
    margin-top: 5px;
    margin-right: 5px;
    width: 96px;
    height: auto;
    border-radius: 4px;
    vertical-align: bottom; }
